<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
<appenders>
<Console name="Console" target="SYSTEM_OUT">
<PatternLayout pattern="%d{dd/MM/yyyy HH:mm:ss,SSS} %-5p - %m%n"/>
</Console>

<File name="MyFile" fileName="logs/app.log">
<PatternLayout pattern="%d{dd/MM/yyyy HH:mm:ss,SSS} %-5p - %m%n"/>
</File>
</appenders>

<loggers>
<root level="debug">
<appender-ref ref="Console" level="info"/>
<appender-ref ref="MyFile" level="info"/>
</root>
</loggers>
</configuration>