.container > h2 {
    margin-bottom: 2em;
}

form {
    margin: 2em 50px 2em 0;
}

input {
    padding: 64px 0;
}

h3 {
    margin: 2em 0 1em;
}

.modal-dialog{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    display: table; /* This is important */
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
    /*min-width: 300px;*/
}

span.fileName {
    margin-right: 2em;
}

ul.borderless > li {
    border-top: 0 none;
}

#inputFile {
    padding: 0;
}

#encryptDiv #usersDiv {
    padding-top: 30px;
}

